<!DOCTYPE html>
<head>
	<meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
	<h1>Hello <%= @user.email %>,</h1>
	<p>your order has been confirmed.</p>
	<p>Thank you !</p>
</body>
</html>