<section class="slice" id="section_cat">
    <div class="container swiper-js-container">
        <div class="swiper-container"> 
            <div class="swiper-wrapper">
                <% @categories.each do |category| %>
                    <div class="swiper-slide">
                        <div class="text-center mt-3">
                            <%= link_to root_path(category: category, anchor: 'section_cat'), class: 'h6 font-weight-bolder' do %>
                                <%= image_tag "icons/clothing/#{category.name.singularize}.svg", height: 60, alt: category.name %>
                            <% end %>
                        </div>
                    </div>
                <% end %>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</section>
