<section class="slice slice-lg bg-cover bg-size--cover" style="background-image: url(<%= asset_path 'img-15.jpg' %>);">

    <div class="container py-lg">
        <div class="row">
            <div class="col-lg-5">
                <h2 class="h1 text-white">Fall Accessories</h2>
                <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                    <li class="breadcrumb-item">
                        <a href="#" class="text-normal">Home</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-normal">Shop</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#" class="text-normal">Fitness clothing</a>
                    </li>
                </ol>
                <p class="lead text-white mt-4">There is only that moment and the incredible certainty that everything under the sun has been written by one hand only.</p>
                <a href="#section_products" class="btn btn-white btn-circle mt-4">Start shopping</a>
            </div>
        </div>
    </div>
    <div class="shape-container" data-shape-style="wavify" data-shape-position="bottom">
        <svg width="100%" height="100%" version="1.1" xmlns="http://www.w3.org/2000/svg" class="shape-fill-white" data-toggle="wavify">
            <defs></defs>
            <path d="" id="wave" class="shape-fill-white" />
        </svg>
    </div>

</section>

<%= render 'section' %>

<section class="slice slice-lg" id="sct-products">
    <div class="container" id="section_products">

        <div class="row">

		  <% @products.each do |product| %>
            <% cache product do %>
                <%= render partial: 'card', locals: { product: product }%>
            <% end %>
          <% end %>

        </div>

    </div>
</section>
