html {
	scroll-behavior: smooth;
}

.swiper-container {
	width: 600px;
	height: 300px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.card-image {
  margin-left: auto;
  margin-right: auto;
}

.cart_icon {
  position: absolute;
  overflow: hidden;
  transition: 1s;
  left: -60px;
}

.cart_icon:hover {
  transition: 1s;
  left: -15px;
}

.cart_icon button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}